<% if model.errors.any? %>
  <div id="_error_messages.html.erb">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>